@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@font-face {
  font-family: PixelText;
  src: url(https://assets.codepen.io/36869/Grand9KPixel.ttf);
}

:root {
  font-family: 'Nunito', sans-serif;
  font-optical-sizing: auto;
  line-height: 1.5;
  font-weight: 400;

  /* 🎮 Paleta de colores */
  --bg-color: #ffffff;
  --text-color: #000000;
  --accent-color: #000000;
  
  
}
.div-left
{  display: flex;
  flex-direction: column;
}
  .div-right {
  display: flex;
  gap: 0; /* Puedes usar `gap` para controlar el espacio entre input y botón si quieres */
}

header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;  
}


body {
  padding: 0 1.5rem;
  font-size: 1.4rem;
  background-color: var(--bg-color);
  color: var(--text-color);
  }

nav {
  position: fixed;       /* barra fija a la izquierda */
  left: 0;
  height: 100vh;         /* altura completa de la ventana */
  width: 200px;          /* ancho fijo */
  background-color: var(--bg-color);  
  padding: 1rem;
  box-sizing: border-box;
  overflow-y: auto;      /* si hay muchos ítems, que se pueda scrollear */
  
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: block;       /* vertical */
}

nav li {
  margin-bottom: 1rem;  /* separación vertical */
}

nav li a {
  color: var(--accent-color);
  padding: 0.5rem 1rem;
  display: block;
  text-decoration: none;
  border: 2px solid var(--accent-color);
  transition: background-color 0.3s, color 0.3s;
}

nav li a:hover,
nav li a:focus {
  background-color: var(--accent-color);
  color: var(--bg-color);
}

.subtitle{
  font-size: 1.2rem;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'PixelText', serif;
  font-weight: 400;
  font-size: 3rem;
  margin-top:1rem;
}

h1{
  margin: 0;
}

main{
  margin-left: 10.75rem;
  margin-top:1rem;
  border: 2px solid var(--accent-color);
  padding: 0 1.5rem 3rem;
}

main li a{
  color: inherit;
}

.float-image {
    float: left;
    margin-right: 1rem;
    margin-bottom:0;
    width: 12.5rem;
    max-width: 100%;
    height: 18rem;
    border: 0.125rem solid var(--accent-color);
}

section::after {
  content: "";
  display: table;
  clear: both;
}

footer {
  margin-left: 220px;
  text-align: right;
  padding-right: 1rem;
}
#searchInput {
  padding: 0.5rem 1rem;
  font-size: 1rem;
  max-width: 20rem;
  width: 100%;
  margin-top: 2rem;
  margin-right: 5rem;
}
#searchButton{
margin-top: 2rem;}